[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pytest = "*"
pytest-django = "*"
djoser = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
pytest-django = "*"
model-bakery = "*"
pytest-watch = "*"

[requires]
python_version = "3.9"
